<app-header></app-header>
<div class="container main">
  <div class="row">
    <h3>Delete order</h3>
  </div>
  <div class="row">
    <form [formGroup]="deleteForm" class="col-md-6 form-group d-flex flex-column">
      <mat-form-field appearance="outline">
        <mat-label>Enter price symbol</mat-label>
        <input matInput placeholder="Enter price symbol" formControlName="symbol" autocomplete="off" name="symbol" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Enter price timestamp</mat-label>
        <input matInput placeholder="Enter price timestamp" formControlName="timestamp" autocomplete="off" name="timestamp" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Enter price orderId</mat-label>
        <input matInput placeholder="Enter price orderId" formControlName="orderId" autocomplete="off" name="orderId" required>
      </mat-form-field>
      <button mat-button class="" (click)="deleteOrder()" [disabled]="deleteForm.invalid">Delete order</button>
    </form>
    <div class="col-md-6">
      <p>Responce</p>
      <p *ngIf="error">{{error}}</p>
      <div *ngIf="message">
        <p>{{message.symbol}}</p>
        <p>{{message.orderId}}</p>
        <p>{{message.price}}</p>
        <p>{{message.status}}</p>
        <p>{{message.type}}</p>
        <p>{{message.side}}</p>
      </div>
    </div>
  </div>
</div>
