<header class="mb-3">
  <mat-toolbar>
    <div class="container">
      Api Docks
      <a href="javascript:void(0)" [routerLink]="['/', 'post']" class="Link ml-2"
        >Post
      </a>
      <a href="javascript:void(0)" [routerLink]="['/', 'get']" class="Link ml-2"
      >Get
      </a>
      <a href="javascript:void(0)" [routerLink]="['/', 'put']" class="Link ml-2"
      >Put
      </a>
      <a href="javascript:void(0)" [routerLink]="['/', 'delete']" class="Link ml-2"
      >Delete
      </a>
    </div>
  </mat-toolbar>
</header>
