<app-header></app-header>
<div class="container main">
  <div class="row">
    <h3>Post orders</h3>
  </div>
  <div class="row">
    <form [formGroup]="postForm" class="col-md-6 form-group d-flex flex-column">
      <mat-form-field appearance="outline">
        <mat-label>Enter price symbol</mat-label>
        <input matInput placeholder="Enter price symbol" formControlName="symbol" autocomplete="off" name="symbol" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Enter price side</mat-label>
        <input matInput placeholder="Enter price side" formControlName="side" autocomplete="off" name="symbol" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Enter price type</mat-label>
        <input matInput placeholder="Enter price type" formControlName="type" autocomplete="off" name="symbol" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Enter price quantity</mat-label>
        <input matInput placeholder="Enter price quantity" formControlName="quantity" autocomplete="off" name="timestamp" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Enter price price</mat-label>
        <input matInput placeholder="Enter price price" formControlName="price" autocomplete="off" name="orderId">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Enter price stop price</mat-label>
        <input matInput placeholder="Enter price stop price" formControlName="stopPrice" autocomplete="off" name="orderId">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Enter price new order resp type</mat-label>
        <input matInput placeholder="Enter price new order resp type" formControlName="newOrderRespType" autocomplete="off" name="orderId">
      </mat-form-field>
      <button mat-button class="" (click)="postOrder()" [disabled]="postForm.invalid">Post orders</button>
    </form>
    <div class="col-md-6">
      <p>Responce</p>
      <p *ngIf="error">{{error}}</p>
      <div *ngIf="message">
        <p>symbol:{{message.symbol}}</p>
        <p>orderId:{{message.orderId}}</p>
      </div>
    </div>
  </div>
</div>
