/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.mat-sort-header-container {
  justify-content: center;
}
*:hover,
*:focus,
*:active
 {
  outline: none !important;
  box-shadow: none !important;
  -webkit-appearance: none;
}
.mat-button {
  color: #ffffff;
  background-color: #a95757
}
.mat-form-field{
  .mat-form-field-outline{
    color: #424242;
  }
  &.mat-focused{
    .mat-form-field-label{
      color: #a95757
    }
    .mat-form-field-outline{
      color: #a95757
    }
  }
  .mat-input-element{
    caret-color: #a95757
  }
  .mat-form-field-label{
    color: #a95757
  }
}